.DS_Store
*.xml
*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
.tags
/.*.mk
/.gems/
/.idea/
/.refcache
/.venv/
/.vscode/
/lib
/node_modules/
/versioned/
Gemfile.lock
archive.json
package-lock.json
!requirements.txt